services:
  - type: web
    name: lightweight-stremio
    env: docker
    plan: free
    docker:
      dockerfile: Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /manifest.json